# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

JWT_SECRET="arroz"
BCRYPT_SALT="10"
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

STORAGE_ENDPOINT="http://localhost:9000"
STORAGE_REGION="auto" 
STORAGE_ACCESS_KEY="minioadmin"
STORAGE_SECRET_KEY="minioadmin" 
STORAGE_BUCKET_NAME="nexusmedia-content" 
STORAGE_PUBLIC_URL="http://localhost:9000/nexusmedia-content"

